/**************************************************************************************************
    Animation *START*
***************************************************************************************************/

/**************************************************************************************************
    Animation *END*
***************************************************************************************************/

html{
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}

.wrapper{
    margin: 0 auto;
}

.wrapper--large{
    width: 95%;
    //background-color: greenyellow;
}

.wrapper--medium{
    width: 75%;  
}

.wrapper--small{
    width: 60%;
}

body{
    background-image: url('../img/28070423031_83fcab325d_o.jpg');
    min-height: 100%;
    // Essential for "clean sticky footer"!
    margin: 0 0 100px; /* bottom = footer height */
    background-color: #ffffff;
}

header{
    position: relative;
    padding: 75px 0 15px 0;
    color: #c69fca;
}

.header__img{
    
    position: relative;
    left: 57%;
    top: 70px;
    width: 120px;
    height: 120px;
}

.header__logotype{
    font-family: $first-font;
    color:    #dec3de;
    // color:    #dec3de;
    margin: 10px 0 0 0 ;
}

.header__subline{
    padding: 0;
    margin: 5px 0 20px 0;
    font-weight: 100;
}


h1, 
h2, 
h3, 
h4, 
h5{
    font-family: $first-font;
}  

.finder{
    text-align: center;    
}

.finder__searchbar{
    position: relative;
    bottom:6px;
    left: 4px;
    width: 20%;
    min-width: 300px;
    font-size: 16px;
    font-family: $first-font;
    color:    #d8d8d8;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 11px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
    
}

.finder__btn{
    display: inline-block;
    padding: 8px 10px 8px 8px;
    font-size: 12px;
    //background: #1090bb;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    
}

.finder__btn:hover{
    background-color: $third-color;
}

.finder__btn__icon{
    width: 25px;
    height: 25px;
}
.mainboard{
    text-align: center;
}

.errorcontainer{
      text-align: center;
}

.errorcontainer__list{
    padding: 0;
    display: inline-block;
    color: #e69898;
    font-family: $first-font;
    font-size: 14px;
    font-weight: 100;
}

.errorcontainer__item{
    text-align: right;
    padding: 3px 7px 7px 7px;
    margin: 2px 0 0 0;
    background-color: rgba(0, 0,0, 0.5);
}

.errorcontainer__btn{
    position: relative;
    top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px;
}

.infocontainer{
    font-family: $first-font;
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 230px;
    display: inline-block;
    color: #fff;
}

.infocontainer__item{
    padding:  3px 0 3px 0;
}

.factbox{
    color: #ffffff;
    margin: 0 0 15px 0;
    width: 40%;
    line-height: 1.5;
    padding: 10px 20px 10px 20px; 
    font-size: 12px;
    font-family: $first-font;
    background-color: rgba(0, 0 ,0, 0.5);
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
}


footer{
    border-top: 1px solid #ecb6ec;
    border-bottom: 1px solid #ecb6ec;
    padding: 10px 0 10px 0;
    color: #ffffff;
    height: 100px;
    width: 100%;
}


.byline{
    width: 100%;
    padding: 5px 0 5px 0;
}

.byline__text{
    font-size: 12px;
    font-family: $first-font;
    font-weight: 300;
    color: #ffffff;
}


/********************************************************************************************
    General classes  *START* 
*********************************************************************************************/

.text--code{
    color: #d594f4;
    font-family: $second-font;
}

.text--left{
    text-align: left;
}

.text--center{
    text-align: center;
}

.text--right{
    text-align: right;
}

/********************************************************************************************
    General classes  *END* 
*********************************************************************************************/    