/**************************************************************************************************
    Animation *START*
***************************************************************************************************/

@keyframes cloudAnimation {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
    
}
/**************************************************************************************************
    Animation *END*
***************************************************************************************************/

html{
    position: relative;
    min-height: 100%;
}

.wrapper{
    margin: 0 auto;
}

.wrapper--large{
    width: 95%;
    //background-color: greenyellow;
}

.wrapper--medium{
    width: 75%;  
}

.wrapper--small{
    width: 60%;
}

body{
    // Essential for "clean sticky footer"!
    margin: 0 0 100px; /* bottom = footer height */
    background-color: #30c5f7;
}

header{
    padding: 10px 0 15px 0;
    //background-image: url("../img/denim.png");
    color: #ffffff;
}

.header__logotype{
    font-family: $first-font;
    color: #ffffff;
    margin: 10px 0 0 0 ;
}

.header__subline{
    padding: 0;
    margin: 5px 0 20px 0;
    font-weight: 100;
}


h1, 
h2, 
h3, 
h4, 
h5{
    font-family: $first-font;
}  

.finder{
    text-align: center;    
}

.finder__searchbar{
    position: relative;
    bottom:7px;
    left: 4px;
    width: 20%;
    min-width: 300px;
    font-size: 16px;
    font-family: $first-font;
    color: #ffffff;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: rgba(255, 255, 255, 0.2);
    
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.finder__btn{
    display: inline-block;
    padding: 8px 10px 8px 6px;
    font-size: 12px;
    //background: #1090bb;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.4);

    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.finder__btn:hover{
    background-color: $third-color;
}


.scenery{
}

.scenery__layer1{
    height: 500px;
    background-image: url('../img/cloudlayer1.svg');
    
    animation: cloudAnimation 40s linear infinite;
}

.scenery__layer2{
    height: 500px;
    background-image: url('../img/cloudlayer2.svg');
    animation: cloudAnimation 30s linear infinite;
    
}

.scenery__layer3{
    height: 500px;
    background-image: url('../img/cloudlayer3.svg');
    animation: cloudAnimation 20s linear infinite;
    
}

.scenery__layer4{
    height: 500px;
    background-image: url('../img/cloudlayer4.svg');
    animation: cloudAnimation 15s linear infinite;
    
}


.factbox{
    color: #ffffff;
    margin: 0 0 15px 0;
    width: 40%;
    line-height: 1.5;
    padding: 10px 20px 10px 20px; 
    font-size: 12px;
    font-family: $first-font;
    background-color: rgba(0, 0 ,0, 0.5);
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
}


footer{
    background-color: #2e2e31;
    padding: 10px 0 10px 0;
    color: #ffffff;
    // Essential for "clean sticky footer"!
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}


.byline{
    width: 100%;
    padding: 5px 0 5px 0;
    background-color: #3a3a3a;
}

.byline__text{
    font-size: 12px;
    font-family: $first-font;
    font-weight: 300;
    color: #ffffff;
}


/********************************************************************************************
    General classes  *START* 
*********************************************************************************************/

.text--code{
    color: #d594f4;
    font-family: $second-font;
}

.text--left{
    text-align: left;
}

.text--center{
    text-align: center;
}

.text--right{
    text-align: right;
}

/********************************************************************************************
    General classes  *END* 
*********************************************************************************************/    